.nav-bar {
    overflow: hidden;
    background-color: #584B4F;
    border: 2px solid #4E4B4D;
    border-radius: 10px;
}

.nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

.nav-bar a.active {
    background-color: rgb(219, 185, 97);
    color: #4E4B4D;
}

.nav-bar a:hover {
    background-color: #FED15C;
    color: #4E4B4D;
}

.nav-bar button {
    float: right;
    padding: 7px;
    margin-top: 4px;
    margin-right: 16px;
    border-radius: 12px;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-red {
    background-color: #4E4B4D;
    color: white;
    border: 2px solid #343233;
}

.button-red:hover {
    background-color: #ad5750;
    color: white;
}

.button-green {
    background-color: #4E4B4D;
    color: white;
    border: 2px solid #343233;
}

.button-green:hover {
    background-color: rgb(84, 138, 86);
    color: white;
}
