.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #3D3A3A;
}

.card-column {
    float: left;
    width: 25%;
    padding: 25px 25px;
    color: #E9D5B7;
}

.card-checkbox {
    text-align: left;
}

@media screen and (max-width: 600px) {
    .card-column {
        width: 50%;
        display: block;
    }
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
