form {
    margin: 25px 0;
    text-align: center;
}

form div {
    display: none;
}

form input {
    background: #4E4B4D;
    border-color: #4E4B4D;
    color: white;
}

form p {
    color: #E9D5B7;
}

.subform-div br {
    color: white;
}

input {
    padding: 8px 30px;
    margin: 8px 0px;
    box-sizing: border-box;
    color: white;
}
