<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Product Add</title>
    <link rel="stylesheet" href="css/global.css"> 
    <link rel="stylesheet" href="css/navigation-bar.css">
    <link rel="stylesheet" href="css/product-add-form.css">
    <script src="js/product-type-switcher.js"></script>
</head>
<body>
    <div class="nav-bar">
        <a href="index.php?product_listing">Product List</a>
        <a class="active" href="index.php?product_add_form">Product Add</a>
        <button class="button-green" type="submit" form="product-add-form-id">Save Product</button>
    </div>
    <form action="index.php?product_add_form" id="product-add-form-id" method="post">
    <p>SKU:</p> 
        <input required type="text" name="sku">
        <p>Name:</p>
        <input required type="text" name="name">
        <p>Price:</p>
        <input required type="number" step="0.01" min="0" name="price"><br><br>
        <select id="product-types-id" name="product-type" onchange="switchType(this.selectedIndex, 'subform-div');">
            <option value='1'>​DVD-disc</option>
            <option value='2'>Book</option>
            <option value='3'>Furniture</option>
        </select>
        <div class="subform-div">
            <p>Size:<p>
            <input name="size" type="number" min="0"><br>
            <p>Please provide weight in MB format</p>
        </div>
        <div class="subform-div">
            <p>Weight:<p>
            <input name="weight" type="number" min="0"><br>
            <p>Please provide weight in KG format</p>
        </div>
        <div class="subform-div">
            <p>Height:</p>
            <input name="height" type="number" min="0">
            <p>Width:</p>
            <input name="width" type="number" min="0">
            <p>Length:</p>
            <input name="length" type="number" min="0"><br>
            <p>Please provide dimensions in HxWxL format</p>
        </div>
    </form>
    <script>switchType(0, 'subform-div');</script>
</body>
</html>
